.about-me-section {
  margin-top: 150px;
  height: 600px;
  width: 100%;
  display: flex;
  background-color: #fafafa;
}

.portfolio-pic-wrapper {
  width: 50%;
  height: 100%;
}

.portfolio-pic {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.95;
}
