.greeting-photo-container {
  height: 600px;
  width: 100%;
  margin-top: 50px;
  background-image: url("../assets/homepageHero.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.greeting-message-container {
  position: absolute;
  height: 350px;
  width: 400px;
  background-color: #fff;
  top: 250px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting-message {
  font-weight: 600;
  font-size: 45px;
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  padding-bottom: 60px;
}

.about-me {
  width: 200px;
  height: 48px;
  background-color: #203a4c;
  font-family: "Public Sans";
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 305px;
  left: 0;
  cursor: pointer;
}

.about-me:hover {
  background-color: #5fb4a2;
}

.down-arrow-about {
  padding-left: 10px;
}

.down-arrow-about:hover {
  filter: invert(100%) sepia(300%) saturate(0) hue-rotate(314deg)
    brightness(115%) contrast(100%);
}

.about-me-text {
  padding-right: 61px;
}
