.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: auto;
}

.header-links {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: #33323d;
}
